.agencyImg{
   filter: blur(4px);
   position: absolute;
   width: 100%;
   z-index: -1;
   margin-top: 20px;
    background-image: url("../images/background.jpg");
}
.bg2{
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    
}
@media (min-width:600px) {
    
.box11,.box12{
 width: 50%;
 float: left;   
}
.homeCardMain{
   height:400px;
}
.homeCard{ display: flex; }

.img4Box{
    display: flex;
}

.img3{
    width: 33.33%;
}
.img3Box{
    display: flex;
}

.contactBox{
    display: flex;
   place-content: center;
   place-items: center;
}
}
.box12{
    background-image: url('../images/agency-img28.png');
}

.img41{
    background-image: url("../images/img41.avif");
}
.img42{
    background-image: url("../images/img42.avif");
}
.img43{
    background-image: url("../images/img43.avif");
}
.img44{
    background-image: url("../images/img44.avif");
}
.img45{
    background-image: url("../images/img45.avif");
}
.img46{
    background-image: url("../images/img46.avif");
}
.img47{
    background-image: url("../images/img47.avif");
}
.img48{
    background-image: url("../images/img48.avif");
}

.img31{
    background-image: url("../images/img31.avif");
}
.img32{
    background-image: url("../images/img32.avif");
}
.img33{
    background-image: url("../images/img33.avif");
}


.Timg31{
    background-image: url("../images/team-1.jpg");
}
.Timg32{
    background-image: url("../images/team-2.jpg");
}
.Timg33{
    background-image: url("../images/team-3.jpg");
}


/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(106, 96%, 38%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}